body{
    background-color: black;
}
a{
    margin:  600px;
}
h1{
    margin: 10px 300px;
}

.social-media-icon{
    width:40px;
    height: 40px;
    margin: 0 5px;
}
.logo{
    width:40px;
    height: 40px;
    margin: -40px 90px;
    
}
.icon{
    width: 40px;
    height: 40px;
    margin: -40px 170px;
}
.social-media{
    width: 40px;
    height: 40px;
    margin: -40px -100px;
}